body{
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: azure;
}

.contenedor{

    -ms-flex-item-align: center;
        align-self: center;
}
.container-menu{
    height: 60px;
    background-color: palegreen;
    display: -webkit-box;
    display: -ms-flexbox;
    display:inline-flex;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}
.container-logo{
    width: 100%;
    height: inherit;
    background-color: forestgreen;
}
.site-title{
    margin: 0;
    padding: 0.36em 0;
}
.container-imagen{
    height: 240px;
    position:relative;
    /* margin-bottom: 20px; */
}
.container-imagen img{
    width:100%;
    height: 100%;
}
.nav-list{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%;
}
.main-menu__item{
    line-height: 3;
    display: inline-block;
}

.main-menu__link{
    text-decoration: none;
    font-size: 1em;
    color: #3e3e3e;
}

.main-menu__link:hover{
    text-decoration: underline;
    font-weight: bold;
}


.servicios{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: #EBC754;
    text-align: center;
}

.servicios__contenedor{
    background-color: #5469EB;
    width: 300px;
    border-style: solid;
    border-color: #192B9E;
}

.texto_servicios{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.servicio1-imagen{
    background-image: url('./bg.png');
    height: 240px;
}

.noticias{
    background-color: lightgreen;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border: 4px solid black;
}

.noticia{
    display: flex;
    border: 2px solid black;
}

.equipo{
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    border: 4px solid black;
}

.equipo__contenedor{
    padding: 30px;
    border: 2px solid black;
}

footer{
    display: flex;
    justify-content:  space-between;
    background-color: rgb(157, 212, 62);
}

.footer_container{
    width: 30%;
}