body{
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.servicios{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: #EBC754;
    text-align: center;
}

.servicios__contenedor{
    background-color: #5469EB;
    width: 300px;
    border-style: solid;
    border-color: #192B9E;
}

.texto_servicios{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.servicio1-imagen{
    background-image: url('./bg.png');
    height: 240px;
}

.equipo{
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    border: 4px solid black;
}

.equipo__contenedor{
    padding: 30px;
    border: 2px solid black;
}

footer{
    display: flex;
    justify-content:  space-between;
}

.footer_container{
    width: 40%;
}